@use "root" as *;
@use "breakpoints" as *;

// navigation class
.nav {
  z-index: 33;
  width: 100%;
  height: fit-content;
  background-color: transparent;
  color: $text;

  border-radius: 0 0 1rem 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(0);

  &.blur {
    backdrop-filter: blur(0.5rem);
  }

  .list {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: transparent;

    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
